* {
    margin: 0%;
}

body {
    display: flex;
    font-family: 'Inter', sans-serif;
    background: rgb(42, 24, 8);
    background: radial-gradient(circle, rgba(42, 24, 8, 1) 0%, rgba(8, 6, 4, 1) 43%, rgba(0, 0, 0, 1) 54%, rgba(1, 0, 21, 1) 100%, rgba(11, 8, 6, 1) 100%);
    justify-content: center;
    flex-direction: column;
}


.mainSection {
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background: rgb(42, 24, 8);
    background: radial-gradient(circle, rgba(42, 24, 8, 1) 0%, rgba(8, 6, 4, 1) 43%, rgba(0, 0, 0, 1) 54%, rgba(1, 0, 21, 1) 100%, rgba(11, 8, 6, 1) 100%);
    margin: 1.5rem;
}

.BoxRight {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20px;
    margin: 3rem 8rem;
    min-width: 30rem;
    min-height: 30rem;
    width: auto;
    height: auto;
    top: 2.5rem;
    border-radius: 0.8rem;
    box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgba(0.1, 0.1, 0.1, 0.1);
    border-color: black;
}

.textBox1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: center;
    overflow: hidden;
    resize: none;
    border: none;
    box-sizing: border-box;
    width: auto;
}

.textBox2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: center;
}

.BoxLeft {
    display: flex;
    flex-direction: row;
    justify-items: center;
    padding-left: 5rem;
    width: 30rem;
    height: 30rem;
}

.buttonSpacing {
    width: 480px;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;


}

.auto-resize {
    background-color: #000000;
    color: white;
    border: solid 1px;
    color: #ffffff;
    border-radius: 10px;
    width: 30rem;
    height: 30rem;
    min-height: 50px;
    resize: none;
    padding: 10px;



}

.boxImage {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.img {
    width: 320px;
    height: auto;
}

.button-container {
    margin: 3rem;
}

.btnCip {
    background-color: slategray;
    border-radius: 1rem;
}

.button {
    font-family: 'Pixelify Sans', sans-serif;
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 800;
    color: #ffffff;
    background-color: #000000;
    border: 1px solid;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-decoration: none;
    display: inline-block;

}

.button:hover {
    color: #000000;
    background-color: #ffffff;
    border: 0px 0px 0px 0px solid rgb(0, 0, 0);
}

.button:active {
    transform: scale(0.95);
}


.button-animated {
    position: relative;
    overflow: hidden;
}




.footer {
    width: 100%;
    background-color: white;
    display: grid;
    justify-content: center;
    color: black;



}




































@media only screen and (max-width: 500px) {

    * {
        margin: 0%;
    }

    body {
        display: flex;
        font-family: 'Inter', sans-serif;
        background: rgb(42, 24, 8);
        background: radial-gradient(circle, rgba(42, 24, 8, 1) 0%, rgba(8, 6, 4, 1) 43%, rgba(0, 0, 0, 1) 54%, rgba(1, 0, 21, 1) 100%, rgba(11, 8, 6, 1) 100%);
        justify-content: end;
        flex-direction: column;
    }


    .mainSection {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
        height: 100%;
        background: rgb(42, 24, 8);
        background: radial-gradient(circle, rgba(42, 24, 8, 1) 0%, rgba(8, 6, 4, 1) 43%, rgba(0, 0, 0, 1) 54%, rgba(1, 0, 21, 1) 100%, rgba(11, 8, 6, 1) 100%);
        margin: 0.2rem;

    }

    .BoxRight {
       
        flex-direction: column;
        gap: 0px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);

        margin:2rem 3rem 120px 120px;
        min-width: 10rem;
        min-height: 10rem;
        border-radius: 0.8rem;
        box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgba(0.1, 0.1, 0.1, 0.1);
        border-color: rgb(70, 63, 63);
    }

    .textBox1 {
        font-size: 10px;
        font-weight: 600;
        line-height: 10.8px;
        text-align: center;
        overflow: hidden;
        resize: none;
        border: none;
        box-sizing: border-box;
        width: auto;
    }

    .textBox2 {
        font-size: 10px;
        font-weight: 400;
        line-height: 20.8px;
        text-align: center;
    }


    .BoxLeft {
        display: flex;
        flex-direction: row;
        justify-items: center;
        padding-left: 0.5rem;
        width: 5rem;
        height: 1rem;
    }

    .buttonSpacing {
        margin: 10px;
        display: flex;
        flex-direction: row;
        width: 250px;
        display: flex;
        justify-content: space-evenly;
        padding: 2rem 2rem 10rem 1.9rem;


    }

    .auto-resize {
        background-color: #000000;
        color: white;
        border: solid 1px;
        color: #ffffff;
        border-radius: 10px;
        width: 8rem;
        height: 14rem;
        resize: none;




    }

    .boxImage {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;

    }

    .img {
        width: 70px;
        height: auto;
    }

    .button-container {
        margin: 2rem;

    }

    .btnCip {
        background-color: slategray;
        border-radius: 1rem;
    }

    .button {
        font-family: 'Pixelify Sans', sans-serif;
        padding: 0.2rem 0.2rem;
        font-size: 0.7rem;
        font-weight: 200;
        color: #ffffff;
        background-color: #000000;
        border: 1px solid;
        border-radius: 1rem;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
        text-decoration: none;
        display: inline-block;

    }

    .button:hover {
        color: #000000;
        background-color: #ffffff;
        border: 0px 0px 0px 0px solid rgb(0, 0, 0);
    }

    .button:active {
        transform: scale(0.95);
    }


    .button-animated {
        position: relative;
        overflow: hidden;
    }




    .footer {
       
        width: 450px;
        background-color: white;
        display: grid;
        justify-content: center;
        color: black;

    }

}